<h1><%= @pirate_info.name %></h1>
<h1><%= @pirate_info.height %></h1>
<h1><%= @pirate_info.weight %></h1>

<h2><% @all_ships.each do |ship|%></h2>
    <%= ship.name%>
<%end%>

<h2><% @all_ships.each do |ship|%></h2>
    <%= ship.booty%>
<%end%>

<h2><% @all_ships.each do |ship|%></h2>
    <%= ship.type%>
<%end%>

